.black {
  color: #000;
}

.orange {
  color: rgb(234, 142, 5);
}

.tagged_orange {
  background-color: rgb(234, 142, 5); 
  color: #fff;
}

#fh5co-header > .navbar {
  background-color: #f5f5f5;
  border-bottom:1px solid #CCC;
}

.alternative_header {
  font-family: "Montserrat", arial, sans-serif;
  color: #ccc;
}